html {
    box-sizing: border-box;
    background-color: rgb(43, 43, 43);
    color: #f1f1f1;
}

.card {
    width: 150px;
    height: 150px;
    cursor: pointer;
    &__img {
        width: 100%;
        height: 100%;
        background-color: rgb(185, 185, 185);
        border-radius: 15px;
    }
    &__content {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.8s ease;
    }
}

.card.open .card__content {
    transform: rotateY(180deg);
  }

.start {
    &__btn {
        position: relative;
    }
    &__link {
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}


.game {
    &__finished-title {
        margin-bottom: 20px;
        font-size: 50px;
    }
}